body,div,ul,li,p,h2,h3,h6{
    margin:0;
    padding:0;
    /*-webkit-animation-fill-mode: both;
    animation-fill-mode: both;*/
}
ul{
    list-style: none;
}
html,body{
    width:100%;
    height:100%;
    overflow: hidden;
    font: 22px/2em "方正兰亭纤黑简体",Helvetica, Arial,sans-serif;
}
#main{
    position: absolute;
    left:50%;
    top:0;
    margin-left:-375px;
    width:750px;
    height:1334px;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
}
.zIndex{
    z-index: 10;
}
.icon-up{
    position: absolute;
    left: 50%;
    bottom:10%;
    z-index: 999;
    margin-left: -18px;
    height: auto;
    width: 36px;
}
.up-img{
    -webkit-animation: moveToBottom ease 1.5s both infinite;
    animation: moveToBottom ease 1.5s both infinite;
}
@-webkit-keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%);transform: translateY(100%); }
}
@keyframes moveToBottom {
    from { }
    to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}
/*音乐*/
.audio{
    display: block;
    position: absolute;
    top: 2%;
    right: 3%;
    z-index: 50;
    width: 60px;
    height: 60px;
}
.audio img{
    width:100%;
    height: 100%;
}
.bounce{
    /*其中animations是自己定义的动画帧，2s是整个动画的秒数，infinite是永久循环 linear是线性变化 (step-end则是无线性变化，直接输出结果)*/
    -webkit-animation:animations 2s infinite linear;
    animation:animations 2s infinite linear;
    background:#fff;
    border-radius: 50%;
}
.bounce:hover{
    -webkit-animation-play-state:paused;
    animation-play-state:paused;
}
@-webkit-keyframes animations {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    25%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0.8;
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0.6;
    }
    75%{
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        opacity: 0.8;
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1;
    }
}
@keyframes animations {
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
    }
    25%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0.8;
    }
    50%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        opacity: 0.6;
    }
    75%{
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        opacity: 0.8;
    }
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 1;
    }
}
.slide{
    width:100%;
    height: 100%;
}
.slide>li{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fff;
}
.a1,.a2,.a3,.a4,.a5,.a6{
    position: relative;
    width:100%;
    height: 100%;
    background: url(images/bg.png) no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    -webkit-animation: pulse 4s ease 0s both;
    animation: pulse 4s ease 0s both;
}
@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        -webkit-transform: scale3d(1.4, 1.4, 1.4);
        transform: scale3d(1.4, 1.4, 1.4);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes pulse {
    from {
        -webkit-transform: scale3d(0.8, 0.8, 0.8);
        transform: scale3d(0.8, 0.8, 0.8);
    }

    50% {
        -webkit-transform: scale3d(1.4, 1.4, 1.4);
        transform: scale3d(1.4, 1.4, 1.4);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

/*-------------------第一张----------------------*/
.a1-content{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 40%;
    margin: -24% 0 0 -24%;
    border-radius: 50%;
    text-align: center;
    border:20px solid #fff;
    background: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 10px 5px #ccc;
}
.a1-content img{
    -webkit-animation:animations 12s infinite linear;
    animation:animations 12s infinite linear;
}
.a1 p{
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left: -220px;
    width:440px;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
}
/*-------------------第二张 上面----------------------*/
.a2-top{
    position: relative;
    top:-40%;
    height: 30%;
}
#a2 .a2-top{
    -webkit-animation-name: myMove;
    animation-name: myMove;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    /*-webkit-animation: myMove 1s linear; /!*infinite*!/*/
    /*animation: myMove 1s linear;*/
    /*当动画模拟完成后让当前元素的位置停留在最后一帧的位置*/
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#a2 .a2-top :nth-child(1){
    -webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
}
@-webkit-keyframes myMove {
    25%{
        top: -20%;
    }
    50% {
        top: 0%;
    }
    75%{
        top:10%;
    }
    100%{
        top:0%;
    }
}
@keyframes myMove {
    25%{
        top: -20%;
    }
    50% {
        top: 0%;
    }
    75%{
        top:10%;
    }
    100%{
        top:0%;
    }
}
.swing {
    /*-webkit-animation-name: swing;
    animation-name: swing;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-transform-origin: top center;
    transform-origin: top center;*/
}
@-webkit-keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 30deg);
        transform: rotate3d(0, 0, 1, 30deg);
        opacity: 0.1;
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -30deg);
        transform: rotate3d(0, 0, 1, -30deg);
        opacity: 0.8;
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity: 0.3;
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        opacity: 0.8;
    }
}
@keyframes swing {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 30deg);
        transform: rotate3d(0, 0, 1, 30deg);
        opacity: 0.1;
    }
    40% {
        -webkit-transform: rotate3d(0, 0, 1, -30deg);
        transform: rotate3d(0, 0, 1, -30deg);
        opacity: 0.8;
    }
    60% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
        opacity: 0.3;
    }
    80% {
        -webkit-transform: rotate3d(0, 0, 1, -15deg);
        transform: rotate3d(0, 0, 1, -15deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
        opacity: 0.8;
    }
}
.a2-top p{
    position: absolute;
    top:25%;
    left:50%;
    margin-left:-32%;
    font-size: 100px;
}
.a2-top img{
    position: absolute;
}
#a2 .a2-top img{
    -webkit-animation-delay:0.2s;
    animation-delay: 0.2s;
}
#a2 .a2-top img:nth-of-type(1){
    top:0;
}
#a2 .a2-top img:nth-of-type(2){
    right:0;
}
#a2 .a2-top img:nth-of-type(3){
    left:5%;
    top:55%;
}
/*-------------------第二张下面----------------------*/
.a2-bot{
    position: relative;
    height: 70%;
}
.a2-bot img{
    position: absolute;
}
.a2-bot>img:nth-of-type(1){
    top:20%;
    left: 50%;
    margin-left: -15%;
    -webkit-animation-name: myBg;
    animation-name: myBg;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*-webkit-animation:animations 2s infinite linear;
    animation:animations 2s infinite linear;*/
}
@-webkit-keyframes myBg {
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes myBg {
    50% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/*出现前*/
#a2 .a2-bot div img{
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.a2-bot div img{
    left:-60%;
}
#a2 .a2-bot div{
    position: relative;
    height: 100%;
}
/*出现后*/
#a2 .a2-bot div img:nth-of-type(1){
    top:16%;
    left:0;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}
#a2 .a2-bot div img:nth-of-type(2){
    top:48%;
    left:8%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
}
#a2 .a2-bot div img:nth-of-type(3){
    top:70%;
    left:20%;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-delay: 7s;
    transition-delay: 7s;
}
#a2 .a2-bot div img:nth-of-type(4){
    top:65%;
    left:63%;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-delay: 7s;
    transition-delay: 7s;
}
#a2 .a2-bot div img:nth-of-type(5){
    top:45%;
    left:80%;
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    -webkit-transition-delay: 5s;
    transition-delay: 5s;
}
#a2 .a2-bot div img:nth-of-type(6){
    top:20%;
    left:84%;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}
#a2 .a2-bot div img:nth-of-type(7){
    left:74%;
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.a2-bot h2{
    position: absolute;
    top: 30%;
    left: 42%;
    font-size: 44px;
    letter-spacing: 36px;
}
.a2-bot p{
    position: absolute;
    top: 56%;
    left: 23%;
    font-size: 30px;
    letter-spacing: 2px;
}

/*-------------------第三张----------------------*/
.a3-top{
    width:100%;
    height: 30%;
}
.a3-top img{
    position: absolute;
    left: 50%;
    top: 10%;
    margin-left: -15%;
    height: auto;
    width: 230px;
}
.a3-bot{
    position: relative;
    width:100%;
    height: 70%;
}
.a3-Left img{
    position: absolute;
    left:20%;
}
.a3-Left img:nth-child(1){
    top:6%;
}
.a3-Left img:nth-child(2){
    top:57%;
}

.a3-Right{
    height: 100%;
}
.a3-RightTop{
    position: absolute;
    top:3%;
    left:38%;
    width:100%;
    height: 50%;
}
.a3-Right p{
    position: absolute;
    left: -150%;
    line-height: 60px;
    font-size: 32px;
}
.a3-RightBot{
    position: absolute;
    top:54%;
    left:38%;
    width:100%;
    height: 33%;
}
#a3 .a3-Right p{
    -webkit-animation-name: a3-Right;
    animation-name: a3-Right;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes a3-Right {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
@-webkit-keyframes a3-Right {
    25% {
        left: -75%;
    }
    50%, 100% {
        left: 0;
    }
    75% {
        left: 75%;
    }
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(1){
    top: 0%;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(2){
    top: 13%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(3){
    top: 26%;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(4){
    top: 39%;
    -webkit-animation-delay: 0.8s;
    transition-delay: 0.8s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(5){
    top: 52%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(6){
    top: 65%;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
#a3 .a3-Right .a3-RightTop p:nth-of-type(7){
    top: 78%;
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
#a3 .a3-Right .a3-RightBot p:nth-of-type(1){
    top: 0%;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
#a3 .a3-Right .a3-RightBot p:nth-of-type(2){
    top: 19%;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    color: red;
}
#a3 .a3-Right .a3-RightBot p:nth-of-type(3){
    top: 38%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
#a3 .a3-Right .a3-RightBot p:nth-of-type(4){
    top: 58%;
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
}
#a3 .a3-Right .a3-RightBot p:nth-of-type(5){
    top: 77%;
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s;
}

/*-------------------第四张----------------------*/
.a4 .a4-top{
    position: absolute;
    top:5%;
    width:100%;
    height: 200px;
    text-align: center;
}
.a4-top h2{
    line-height: 130px;
    font-size: 80px;
}
.a4-top span{
    font-size: 40px;
}
.a4-content{
    position: absolute;
    top:20%;
    left:50%;
    margin-left:-285px;
    width: 570px;
    height: 546px;
    background: url("images/a4-content.png") no-repeat;
}
.a4-content div{
    position: absolute;
    top:36%;
    left: 31%;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 50%;
    -webkit-animation:a4-animations 1s infinite linear;
    animation:a4-animations 1s infinite linear;
}
@-webkit-keyframes a4-animations {
    0%{
        -webkit-transform: rotate(0deg);
        border-color: #ccc;
    }
    25%{
        -webkit-transform: rotate(90deg);
        border-color: #888;
    }
    50%{
        -webkit-transform: rotate(180deg);
        border-color: #000;
    }
    75%{
        -webkit-transform: rotate(270deg);
        border-color: #888;
    }
    100%{
        -webkit-transform: rotate(360deg);
        border-color: #ccc;
    }
}
@keyframes a4-animations {
    0%{
        -webkit-transform: rotate(0deg);
        border-color: #ccc;
    }
    25%{
        -webkit-transform: rotate(90deg);
        border-color: #888;
    }
    50%{
        -webkit-transform: rotate(180deg);
        border-color: #000;
    }
    75%{
        -webkit-transform: rotate(270deg);
        border-color: #888;
    }
    100%{
        -webkit-transform: rotate(360deg);
        border-color: #ccc;
    }
}
.a4 img{
    position: absolute;
    left:50%;
    top:50%;
    margin:-45px 0 0 -45px;
    width:80px;
    height:80px;
    -webkit-transform: rotate(0deg);  /*rotate 旋转*/
}
#a4 img:nth-child(2){
    left:50%;
    top:24%;
}
#a4 img:nth-child(3){
    left:26%;
    top:44%;
}
#a4 img:nth-child(4){
    left:29%;
    top:76%;
}
#a4 img:nth-child(5){
    left:71%;
    top:76%;
}
#a4 img:nth-child(6){
    left:74%;
    top:44%;
}
#a4 img{
    -webkit-transform: rotate(720deg);
    -webkit-transition: 1s;
}
.a4-bot{
    position: relative;
    top:64%;
    left: 50%;
    margin-left: -45%;
    width:90%;
    height: 28%;
}
.a4-bot p{
    position: absolute;
    left:300%;
    top:50%;
    width:100%;
}
#a4 .a4-bot p{
    -webkit-animation-name: a4-Bot;
    animation-name: a4-Bot;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes a4-Bot {
    25% {
        left: 150%;
    }
    50%,100%{
        left: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    75% {
        left: -150%;
    }
}
@keyframes a4-Bot {
    25% {
        left: 150%;
    }
    50%,100%{
        left: 0;
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    75% {
        left: -150%;
    }
}
#a4 .a4-bot p:nth-of-type(1){
    top:0;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
#a4 .a4-bot p:nth-of-type(2){
    top:26%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
#a4 .a4-bot p:nth-of-type(3){
    top:51%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
#a4 .a4-bot p:nth-of-type(4){
    top:76%;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
}
.a4-bot p span{
    font-size: 24px;
    display: inline-block;
}
.a4-bot p span:nth-child(1){
    margin-bottom:44px;
    color: red;
}
.a4-bot p span:nth-child(2){
    position: absolute;
    letter-spacing: 3px;
}
/*-------------------第五张----------------------*/
.a5-top{
    margin:5% 0;
    width:100%;
    height: 20%;
    text-align: center;
}
.a5-top h2{
    line-height: 100px;
    font-size: 70px;
}
.a5-top p{
    line-height: 50px;
    font-size: 35px;
}
/*下面左边*/
.a5-bot{
    position: relative;
    left:50%;
    top:0;
    margin-left:-45%;
    width:90%;
    height: 70%;
}
.a5-botLeft{
    position: absolute;
    width: 10%;
    height: 100%;
}
.a5-botLeft li{
    position: relative;
    height: 33%;
}
.a5-botLeft li:nth-child(2){
    top:15%;
}
.a5-botLeft li img{
    position: absolute;
    top:0;
    -webkit-animation: myTop-Bot 5s linear 2s 2 both;
    animation: myTop-Bot 5s linear 2s 2 both;
}
@-webkit-keyframes myTop-Bot {
    25%,75%{
        top:50%;
    }
    50%{
        top:100%;
    }
    100%{
        top:0;
    }
}
@keyframes myTop-Bot {
    25%,75%{
        top:50%;
    }
    50%{
        top:100%;
    }
    100%{
        top:0;
    }
}
/*下面右边*/
.a5-botRight{
    position: absolute;
    left:10%;
    width: 90%;
    height: 100%;
}
.a5-botRight li{
    position: relative;
    height:48%;
}
.a5-botRight li h3{
    line-height: 50px;
    font-size: 34px;
    color: #db3839;
}
.a5-botRight li p{
    position: absolute;
    top:300%;
    /*line-height: 50px;*/
    font-size: 28px;
}
#a5 .a5-botRight li p{
    -webkit-animation: myBot 7s linear both;
}
@-webkit-keyframes myBot {
    0%{
        -webkit-transform: translate(0,600%);
    }
    25%{
        -webkit-transform: translate(0,450%);
    }
    50%{
        -webkit-transform: translate(0,300%);
    }
    75%{
        -webkit-transform: translate(0,150%);
    }
    100%{
        -webkit-transform: translate(0,0%);
    }
}
@keyframes myBot {
    0%{
        -webkit-transform: translate(0,600%);
    }
    25%{
        -webkit-transform: translate(0,450%);
    }
    50%{
        -webkit-transform: translate(0,300%);
    }
    75%{
        -webkit-transform: translate(0,150%);
    }
    100%{
        -webkit-transform: translate(0,0%);
    }
}
#a5 .a5-botRight li p:nth-of-type(4){
    -webkit-animation: hello 7s linear both;
}
@-webkit-keyframes hello{
    0%{
        -webkit-transform: translate(0,300%);
    }
    25%{
        -webkit-transform: translate(0,300%);
    }
    50%{
        -webkit-transform: translate(0,200%);
    }
    75%{
        -webkit-transform: translate(0,100%);
    }
    100%{
        -webkit-transform: translate(0,0%);
    }
}
@keyframes hello{
    0%{
        -webkit-transform: translate(0,400%);
    }
    25%{
        -webkit-transform: translate(0,300%);
    }
    50%{
        -webkit-transform: translate(0,200%);
    }
    75%{
        -webkit-transform: translate(0,100%);
    }
    100%{
        -webkit-transform: translate(0,0%);
    }
}
#a5 .a5-botRight li p:nth-of-type(1){
    color: #11c900;
    top:12%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
#a5 .a5-botRight li p:nth-of-type(2){
    top:24%;
    -webkit-transition-delay: 2s;
    transition-delay: 2s;
}
#a5 .a5-botRight li p:nth-of-type(3){
    top:36%;
    -webkit-transition-delay: 3s;
    transition-delay: 3s;
}
#a5 .a5-botRight li p:nth-of-type(4){
    top:48%;
    -webkit-transition-delay: 4s;
    transition-delay: 4s;
}
#a5 .a5-botRight li p:nth-of-type(5){
    top:70%;
    -webkit-transition-delay: 6s;
    transition-delay: 6s;
}

/*-------------------第六张----------------------*/
.a6 p{
    position: absolute;
    width:0;
    height:0;
    padding:5px;
    line-height: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    color: #fff;
    overflow: hidden;
}
.a6 p:nth-child(1){
    left:15%;
    top:5%;
}
#a6 p:nth-child(1){
    width:245px;
    height:26px;
}
.a6 p:nth-child(2){
    left:53%;
    top:18%;
}
.a6 p:nth-child(3){
    left:78%;
    top:46%;
}
#a6 p{
    width:200px;
    height:200px;
    -webkit-transition: 2s;
}











